* {
    font-family: sans-serif;
}
header{
    height: 200px;
    display: flex;
    margin: 0px;
    align-items: center;
    background-color: rgb(24, 91, 68);
    justify-content: center;



}

#navbar >ul {
    height: 40px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around ;
    background-color: black;
    color: white;
    margin: 0px; 

}





#main-content {
    height: 200px;
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;

    align-self: center;
    align-self: flex-end;    

}

#sidebar {
    width: 100px;
    display: flex;
    align-items: flex-start;
    margin: 0px;
    background-color: gray;
    flex-wrap: wrap;
    align-self: stretch;
    border-bottom: 250px solid gray;
    
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    

}

main {
    display: flex;
    align-content: stretch;
}