    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <thymeleaf th:replace="header :: header" />
    </head>
    <body>
    <div class="container">
        <h2>Add Customer</h2>
        <form class="form-horizontal" method="post" th:action="@{/customer/addcostumer}">
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="firstName" placeholder="Enter first name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="lastName" placeholder="Enter last name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone:</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" name="phone" placeholder="Enter phone number" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
        <div>
            <a th:href="@{/customer/list}">Customer List</a>
        </div>
    </div>
    </body>
    </html>