    *{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


header {
    
    
    background-color: rgb(199, 199, 150);
    text-align: center;

} 



.aboutMe {
    display: flex;
    background-color: bisque;
    border: 0px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    
}

.aboutMeFoto {
    display: flex;
    justify-content: center;
    padding: 10px;
    
    border-radius: 100%;
}

.aboutMeInfo {
    display: flex;
    list-style: none;
    flex-direction: column ;
}



