.mainbox {
  margin: 50px solid black;
  background-color: aqua;
  width: 300px;
  border: 50px solid green;
  padding: 100px;
  
}
.box{
  
  background-color: yellow;
  width: 25px;
  border: 10px;
  padding: 10px;
  margin: 10px;
}

.midbox {
  background-color: yellow;
  width: 25px;
  border: 10px;
  padding: 10px;
  margin: 10px;
}